.top-up-card{
    max-width: 100%;
    min-width: 26rem;
    border-radius: 12px;
    overflow: hidden;
}

.top-up-top {
    height: 2.5rem;
    display: flex;
    flex-direction: row;
    
    /* background-color: lightslategrey; */
}

.top-up-1{
    width: 2.5rem;
    background-color: rgba(32,156,215,255);
    display: flex;
    align-items: center;
    justify-content: center;

    color: black;
    padding: 0.5rem;
}
.top-up-2{
    width: 100%;
    background-color: rgba(63,63,71,255);
    display: flex;
    align-items:center;
    justify-content:flex-start;
    padding: 0.5rem;

    color:  rgba(250,250,249,255);
    font-weight: bold;
    font-size: .875rem;
}

.top-up-3{
    background-color: rgba(53,53,57,255);
    /* display: flex; */
    align-items:center;
    justify-content:flex-start;
    padding: 1rem;
    min-height: 3rem;
    max-height: 100%;

    color:  rgba(250,250,249,255);
    font-weight: bold;

    gap: .25rem;
}

.dark {
    background-color: 240 3.45% 17.06%;
}