.App {
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: rgba(39,39,41,255); /* Light background for better contrast */
}

h2 {
  font-size: 1.5rem; /* Adjust heading size */
}

.body {
  background-color: rgba(39,39,41,255); /* Light background for better contrast */
  width: 100%;
  margin: 0 auto;   /* Center the navbar content */

}

.text-light{
  color:  rgba(250,250,249,255);
  font-weight: normal;
  font-style: italic;
}

.text-small{
  font-size: .75rem;
}
.text-ms{
  font-size: .875rem;;
}

.gap-small{
  display: flex;
  gap: .25rem;
}

.text-lg{
  font-size: 1.125rem;
  line-height: 1.75;

}

.font-bold{
  font-weight: 700;
}

.background-dark{
  background-color: rgba(39,39,41,255);
  width: 100%;
}

.width-device{
  max-width: 80rem;;
}