/* Navbar container */
.header-container {
    max-width: 80rem; /* Maximum width for large screens */
    margin: 0 auto;   /* Center the navbar content */
    width: 100%;      /* Ensure it takes up full width on smaller screens */
    padding-inline: 1rem; /* Add some padding on the sides for large screens */
  }
  
  /* Adjust padding for smaller screens */
  @media (max-width: 768px) {
    .header-container {
      padding: 0.5rem;
    }
  }
  
  /* Active class for active link */
  
  
  /* Full width class */
  .width-full {
    width: 100% !important;
  }
  
  /* Ensure the form and search bar behave well on large screens */
  @media (min-width: 992px) {
    .d-none.d-lg-flex {
      display: flex !important;
    }
  }
  
  /* Align Navbar items properly */
  .navbar .navbar-collapse {
    display: flex;
    justify-content: space-between;
  }
  
  .navbar .navbar-nav {
    flex: 1;
  }
  
  .navbar .navbar-nav .nav-link {
    color: white;
    margin-right: 1rem;
  }
  
  .navbar .navbar-nav .nav-link.active {
    border-bottom: 2px solid #007bff;
  }
  
  .navbar .form-inline {
    display: flex;
  }
  
  .navbar .form-inline .input-group {
    margin-right: 1rem;
  }
  
  /* Remove right margin on mobile */
  @media (max-width: 992px) {
    .navbar .ms-auto {
      margin-right: 0 !important;
    }
  }
  
  .body-game-order {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .sticky-bottom-container {position: fixed; /* Fixes the position to the screen */
    bottom: 0; /* Sticks it to the bottom of the screen */
    left: 0; /* Aligns it to the left of the screen */
    right: 0; /* Aligns it to the right of the screen */
    width: 90vw; /* 90% of the viewport width */
    margin: 0 auto; /* Centers the div horizontally */
    z-index: 1000; /* Makes sure it's above other elements */
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.2); /* Optional: adds a shadow effect */
    padding: 1rem;
    background-color: rgba(63,63,71,255); /* Optional: adds transparency */
    z-index: 1000; /* Makes sure it's above other elements */
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.2); 
    color: darkblue;
    margin-bottom: 2rem;
    /* Optional: adds a shadow effect */
  }