header {
  background: rgba(31, 31, 31, 0.85); /* Semi-transparent black */
  padding: 1rem 0;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
}

.container-header {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo{
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center;

}

.logo h1 {
  color: #00aaff;
  font-size: 1.5rem;
  text-align: center;

  margin-top: 0;
  margin-bottom: 0;
}

.logo span {
  font-weight: bold;
  color: #fff;
}

/* Center the nav */
nav {
  flex-grow: 1; /* Let nav take available space */
  display: flex;
  justify-content: center; /* Center the ul horizontally */
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.header-actions input[type="text"] {
  padding: 0.5rem;
  border-radius: 5px;
  background: #2f2f2f;
  color: white;
}

.header-actions select {
  padding: 0.5rem;
  border-radius: 5px;
  background: #2f2f2f;
  color: white;
}

.btn {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  background: #2f2f2f;
  color: white;
  cursor: pointer;
}

.btn.primary {
  background: #007bff;
}


dl, ol, ul {
  margin-top: 0;
  margin-bottom: 0;
}